.footerContainer {
  width: 100vw;
  height: 15vh;
<<<<<<< HEAD
  display: flex;
  flex-direction: column;
=======
  /* background-color: var(--darkgray); */
>>>>>>> 238471b418de358b6f72ee927304a6775e43f75d
  background-color: var(--mediumgray);
  position: fixed;
  bottom: 0;
}

/* small screen */
.smScreen{
  width: 100%;
  height: 100%;
  display: flex;
<<<<<<< HEAD
  justify-content: space-between;
  align-items: center;
  padding: 5px 32px;
  border-top: 2px solid var(--transparentgray);
  position: relative;
  /* background-color: green; */
=======
  flex-direction: column;
>>>>>>> 238471b418de358b6f72ee927304a6775e43f75d
}

/* width qui va augmenter en suivant la musique */
.smallMusicPlayLine {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: white;
  top: 0px;
  left: 0;
}

.smallMusicPlayer{
  flex: 0.5;
}

.nav {
  flex: 0.5;
}

.lgScreen{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(107, 72, 107, 0.555);
}

.lgScreenLeft{
  flex: 0.3;
  display: flex;
  align-items: center;
  /* background-color: blue; */
  column-gap: 15px;
}

.lgScreenLeft > img{
  width: 80px;
  height: 80px;
}

.lgScreenLeftParagraph > span{
  color: white;
  font-weight: 700;
  font-size: 1.6rem;
}

.lgScreenLeftParagraph > p {
  color: var(--lightgray);
  font-size: 1.3rem;
}

.lgScreenIcons{
  display: flex;
  column-gap: 15px;
}

.lgScreenCenter{
  flex: 0.3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  max-width: 400px;
}

.lgScreenRight{
  flex: 0.3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 10px;
  /* background-color: green; */
}

.lgScreenRight .inputVolume{
  width: 150px;
}

<<<<<<< HEAD
/* Large screen */
.largeFooterLeft {
  flex: 1;
  display: flex;
  align-items: center;
  column-gap: 15px;
  /* background-color: blue; */
}

.largeFooterLeft > img {
  width: 85px;
  height: 85px;
}

.largeFooterLeftParagraph > span {
  font-size: 1.6rem;
  font-weight: 700;
  color: white;
}

.largeFooterLeftParagraph > p {
  font-size: 1.3rem;
  color: var(--lightgray);
}

.largeFooterLeftIcons{
  display: flex;
  align-items: center;
  column-gap: 15px;
  margin-left: 5px;
}

.largeFooterCenter {
  flex: 1;
  /* background-color: green; */
}

.largeFooterRight {
  flex: 1;
  /* background-color: yellow; */
}

@media screen and (min-width: 1024px) {
  .footerContainer{
    display: none;
  }
  
  /* .footerContainer {
    height: fit-content;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 0, 0, 0.479);
  }

  .nav {
    display: none;
  }

  .smallMusicPlayer {
    display: none;
  } */
}
=======


@media screen and (min-width: 1024px) {
  .footerContainer{
    /* background-color: rgb(133, 62, 62); */
  }

  .smScreen{
    display: none;
  }

 
}
>>>>>>> 238471b418de358b6f72ee927304a6775e43f75d
